[submodule "pmoves_multi_agent_pro_pack/docling"]
	path = pmoves_multi_agent_pro_pack/docling
	url = https://github.com/POWERFULMOVES/docling.git
[submodule "pmoves_multi_agent_pro_pack/mcp_gateway/PMOVES-BotZ-gateway"]
	path = pmoves_multi_agent_pro_pack/mcp_gateway/PMOVES-BotZ-gateway
	url = https://github.com/POWERFULMOVES/PMOVES-BotZ-gateway.git
[submodule "features/cipher/pmoves_cipher"]
	path = features/cipher/pmoves_cipher
	url = https://github.com/POWERFULMOVES/Pmoves-cipher.git
[submodule "PMOVES-BoTZ"]
	path = PMOVES-BoTZ
	url = https://github.com/POWERFULMOVES/PMOVES-BoTZ.git
